.offers-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    font-weight: 600;
  }
  
  .section-title {
    font-size: 2rem;
    margin-bottom: 2.5rem;
    color: #333;
  }
  
  .offer-cards {

    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .offer-card {
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.08);
    font-family: var(--font-mont);
    text-align: left;
    transition: transform 0.2s ease-in-out;
    width: 360px;
    height: 450px;
    text-align: center; 
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  }
  
  .offer-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .offer-image {
    max-width: 100%;
    height: auto;

  }
  
  .offer-title-h3 {
    margin-top: 4px;
    line-height: 18px;
    font-size: 12px;
    height: 18px;
    color: #333;

  }

  
  .offer-description {
    margin-top: 1.5rem;
    color: #666;
    flex-grow:1;
font-family:var(--font-mont);
    height: 60px;
    overflow: hidden;
    line-height: 20px;
    font-size: 14px;
    padding:0 10px;
  }
  
  .offer-link {
    display: block;

    padding: 0.5rem 1rem;
    background-color: transparent;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
    font-size: 14px;
margin: 1rem auto 0;
    height: 30px;
    line-height: 28px;
    border: 1px solid;
    width:8rem;
    padding: 0 10px;
    cursor: pointer;
    text-align: center;
    color: #876a20;
    margin-bottom: 5%;
  }
  
  .offer-link:hover {
    color: #a68a3a;
  }
  .offer-card-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }


  .offer-title-h1{
    margin-top:2rem;
    overflow: hidden;
    line-height: 20px;
    font-size: 14px;
  }

  .offer-text{
    margin-top: 4px;
    line-height: 16px;
    font-size: 13px;
    font-weight: 400;
  }

  .offer-text span{
    font-weight: 600;
  }

  .offer-all{
    display: block;
    padding: 0.5rem 1rem;
    background-color: transparent;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
    font-size: 14px;
    margin: 1rem auto 0;
    height: 30px;
    line-height: 28px;
    border-bottom: 1px solid;
    width:4rem;
    padding: 0 10px;
    cursor: pointer;
    text-align: center;
    color: #876a20;
    margin-top: 3%;
    margin-bottom: 10rem;
  }

  .offer-all:hover {
    color: #a68a3a;
  }